--index-url https://download.pytorch.org/whl/cpu

numpy==1.24.0
torch==2.1.1
torchvision==0.16.1

opencv-python==4.11.0.86
matplotlib
pillow

imageio==2.37.0
imageio-ffmpeg==0.4.7
decord

einops==0.4.1
easydict
tqdm
OpenEXR==3.3.1
