name: Build Apptainer Image (CPU)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Apptainer
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.3.6

      - name: Build Apptainer image
        run: sudo apptainer build video-depth-cpu.sif Apptainer_cpu.def

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: video-depth-cpu-sif
          path: video-depth-cpu.sif
